/* From Uiverse.io by abrahamcalsin */
.book {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.book:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.book:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.book .booking_text {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #fff;
    letter-spacing: 0.1em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.book:hover .booking_text {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}