a span {
    margin-left: -7px;
}


/* From uiverse.io by @Ali-Tahmazi99 */
.btn-login {
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 16px;
    border: 1px solid red;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
}

.btn-login::before,
.btn-login::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

.btn-login::before {
    left: -10px;
    background: black;
}

.btn-login::after {
    right: -10px;
    background: red;
}

.btn-login:hover::before,
.btn-login:hover::after {
    width: 64%;
}

.btn-login:hover .login {
    color: #ffffff;
    transition: 0.3s;
}

.btn-login .login {
    color: #03045e;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in;
}