a span {
    margin-left: -7px;
}

/* Navbar design */
/* Normal link style */
nav a.active {
    margin-left: 5px;
    border-radius: 16px;
    color: #222;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.1s ease;
}

/* Hover effect */
nav a:hover {
    background-color: #f2f2f2;
}

/* Active link animation (like your .btn-login style but simpler) */
nav a.active {
    color: #fff;
    background-color: crimson;
    border: 1px solid crimson;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

nav a.active::before,
nav a.active::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    z-index: -1;
}

nav a.active::before {
    left: -10px;
    background: black;
}

nav a.active::after {
    right: -10px;
    background: red;
}

nav a.active:hover::before,
nav a.active:hover::after {
    width: 64%;
}