@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  }

    @import "slick-carousel/slick/slick.css";
    @import "slick-carousel/slick/slick-theme.css";
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* From uiverse.io by @Ali-Tahmazi99 */
.btn-primary {
  display: inline-block;
  height: 40px;
  border-radius: 16px;
  border: 1px solid red;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.btn-primary::before,
.btn-primary::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.btn-primary::before {
  left: -10px;
  background: black;
}

.btn-primary::after {
  right: -10px;
  background: red;
}

.btn-primary:hover::before,
.btn-primary:hover::after {
  width: 60%;
}

.btn-primary:hover .text {
  color: #ffffff;
  transition: 0.3s;
}

.btn-primary .text {
  color: #03045e;
  font-weight: bold;
  transition: all 0.3s ease-in;
}